:root{
    going to ad colors here
}

*box-sizing: {
    box sizing:border-box;
    margin:0;
    padding:0;
}

header{
     
    width: 100%;
    
    background-image: url(../Images/camille-brodard-VB0bZr2xGHY-unsplash.jpg);
    height: 150px;
    background-position: bottom;
}

h1{
    text-align: center ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    background-color: black ;
    color: springgreen;
    margin:0;

    


}
nav{
    background: black;
    float: right;
    color: springgreen;
}
header nav ul{
    float:right;
    text-align: right;
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    margin:0;   
}

header li {
    font: weight 100px;
    font-family: fantasy;
    background-color: black;
    padding:0 10px;

}

.apps-title{
    text-align: center;

    
}

.top-app{
    text-align: center;
    width: 100%;
    background-color: blue;
    border-color: lightcoral;
    border-width: 20px;
    border-style: solid;
}
.middle-apps{
   display: inline-block;
   width: 30%;
   margin: 15px 15px;
   text-align: center;
}
.bottom-app{
    text-align: center;
    background: lightcoral;
    border: blue;
    border-width: 20px;
    border-style: solid;
}

/* footer styles */
footer{
    background-color: black;
    height: 300px;
    display: flex;
    flex-wrap: wrap;

}
footer h3{
    text-align: center;
    background-image: url('../Images/footer.jpg.jpg');
    margin: 50px;
    padding: 100px;
    width:100%;

    ;
    
}
/* hero/about me styles*/



.hero{
    width: 100%;
    height: 1000px;
    background:black;
    color: chartreuse;
    

}
.hero h2{
    text-align: center;
    
    height: 500px;
}
.hero img{
    max-width: 40%;
    height: auto;
    position: absolute;
    padding: 20px 20px;
    margin: auto    ;
    background: lightcoral;
}