
*box-sizing: {
    box sizing:border-box;
    margin:0px;
    padding:0px;
}
.body{
    background-color: #5f6366;

}
header{
     
    width: 100%;
    
    background-image: url(../Images/camille-brodard-VB0bZr2xGHY-unsplash.jpg);
    height: 150px;
    background-position: bottom;
}

h1{
    text-align: center ;
    font-family:Arial, Helvetica, sans-serif;
    float: left;
    background:#5f6366; 
    margin:5px;
    padding: 7.5px;
    color: antiquewhite;
    text-shadow: 2px 2px black;
    

    


}
h2{
    font-weight: bold;
    font-size: 30px;
    color:#4d6d9a;
    text-shadow: 2px 2px black;
    
}
h3{
    color: #edb5bf;
    text-shadow: 2px 2px black;
}


nav{
    background:#5f6366;
    float: right;
    margin:5px;
    padding:7.5px;
    color: antiquewhite;
}
header nav ul{
    float:right;
    text-align: right;
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    margin:0;   
}

header li {
    font: weight 100px;
    font-family: fantasy;
    background:#5f6366;
    padding:0 10px;
    color: black;

}
a:link{
    text-decoration:none;
    
    font-weight: bold;
    font-size: 30px;
}

.apps-title{
    text-align: center;

    
}

.top-app{
    text-align: center;
    width: auto;
    background:#5f6366;
    height: auto;
    display: flex;
    border: #4d6d9a;
    border-style: solid;
    border-width: 3px;
    padding: 20px;
    ;

}
.top-app img{
    width: 30%;
    height:auto;
    border-radius: 8px;
    padding:15px;
    border-radius: inherit;
   
    
    
    
}
.middle-apps{
    text-align: center;
    width: 50%;
    background:#5f6366;
    height: auto;
    padding: 20px;
    
    
        
    
}
.middle-style{
    width: auto;
    display: flex;
    border:#99ced3;
    border-style: solid;
    border-width: 3px;
    padding: 20px;

    

}
.middle-apps img{
    width: 30%;
    height: auto;
    padding: 20px;
    
}
.in-the-middle{
    display: flex;
    width: 100%;
}
.bottom-app{
    text-align: center;
    width: auto;
    background:#5f6366;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    border: #4d6d9a;
    border-style: solid;
    border-width: 3px;
    padding: 20px;
    

    
}

.bottom-app img{
    height: auto;
    width: 30%;
    float: right;
    padding: 20px;
}
/* footer styles */

footer{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../Images/camille-brodard-VB0bZr2xGHY-unsplash.jpg);
    background-position: bottom;    

}
footer h3{
    float;
    text-align: center;
    background-color: #5f6366;

    
    
}
/* hero/about me styles*/



.hero{
    max-height: 200px   ;
    background:#5f6366;
    display: flex;
    justify-content:space-evenly;
    padding: 20px;
    border:#99ced3;
    border-style: solid;
    border-width: 3px;
}
.hero h2{
    text-align: center;
    line-height: 1.2;
   

}
.hero img{
    height: 100%;
  
}
.heroimg{
    display: flex;
    justify-content: center;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    
  /* this will be applied on any screen smaller than 980px */

    header {
        padding-bottom: 0;
        justify-content: center;
    }
    
    header h1 h2{
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
        width: 100%;
    }
    
    footer h3, footer div {
        text-align: center;
        width: 100%;
      
    }
    .hero{
        width: 100%;
        text-align:center;
        padding:0px;
    }
  
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    
      /* this will be applied on any screen between 768px and 575px */
      section {
       
      }
      .herobio{
          height: auto;

      }
    
      .h3 {
        flex: 1 100%;
        text-align: center;
      }
    
      .top-app {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
      }
    
      .middle-apps {
        flex: 0 100%;
        margin-right: 0;
        width: 100%;
        
      }
    
      .my-apps{
        flex: 100%;  
        width:100%
      }
    
    }
}
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER 
  @media screen and (max-width: 575px) {
    header h1 {
      /* this will be applied on any screen smaller than 575px */
      font-size: 10px;
    }
  }