:root{
    going to ad colors here
}

*box-sizing: {
    box sizing:border-box;
    margin:0;
    padding:0;
}

header{
    display: flex; 
    flex-wrap: wrap;  
    width: 100%;
    background-image: url(../Images/camille-brodard-VB0bZr2xGHY-unsplash.jpg);
    background-position:left;
    background-size: cover;
}

h1{
    text-align: center ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    width: 100%;

}

header nav ul{
    float:right;
    text-align: right;
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}

header li {
    font: weight 100px;
    font-family: fantasy;

}
    